@use "sass:math";
@use 'functions.scss' as fn;
@import "reset";

body {
  overscroll-behavior: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'DIN Alternate', sans-serif;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 120px;
  padding-bottom: 120px;

  @include fn.pc {
    width: 646px;
  }
  // padding: 180px
  @include fn.sp {
    width: 100vw;
  }
}


$frame_size: 10px;
$frame_position: 30px;
.frame {
  z-index: 200;
  &::before,
  &::after {
    content: '';
    background: #fff;
    position: fixed;
  }
  &--tl {
    &::before {
      width: 1px;
      height: $frame_size;
      top: $frame_position;
      left: $frame_position;
    }
    &::after {
      height: 1px;
      width: $frame_size;
      top: $frame_position;
      left: $frame_position;
    }
  }
  &--tr {
    &::before {
      width: 1px;
      height: $frame_size;
      top: $frame_position;
      right: $frame_position;
    }
    &::after {
      height: 1px;
      width: $frame_size;
      top: $frame_position;
      right: $frame_position;
    }
  }
  &--bl {
    &::before {
      width: 1px;
      height: $frame_size;
      bottom: $frame_position;
      left: $frame_position;
    }
    &::after {
      height: 1px;
      width: $frame_size;
      bottom: $frame_position;
      left: $frame_position;
    }
  }
  &--br {
    &::before {
      width: 1px;
      height: $frame_size;
      bottom: $frame_position;
      right: $frame_position;
    }
    &::after {
      height: 1px;
      width: $frame_size;
      bottom: $frame_position;
      right: $frame_position;
    }
  }
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#canvas_app {
  z-index: 1;
}
#canvas_ui {
  z-index: 5;
}

li {
  text-align: left;
  /* width: calc((100vw - 60px)/ 3); */
}


.c-site-title {
  position: fixed;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  right: 40px;

  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 9999;
  // letter-spacing: 4px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  top: 50%;
  transform: translateY(-50%);
}
.c-shader-title {

  @include fn.pc {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 150.643px;
    position: fixed;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
    
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);

    font-size: 16px;
    top: 40px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    left: 0;

    filter: drop-shadow(0px 0px 20px black);
    
}
}
h2 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 10px;
  // mix-blend-mode: difference;
  background-color: #000;
  display: inline-block;
  // color: #000;

  margin-top: 80px;

  &:first-of-type {
    margin-top: 0;
  }

  @include fn.sp {
    margin-left: fn.vw(24);
    font-size: fn.vw(16);
    margin-bottom: fn.vw(24);
  }
}
.p-gallery {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0;
  z-index: 10;

  @include fn.pc {
    width: 646px;
    gap: 24px;

    grid-template-columns: repeat(5, 1fr);
    &__item {
      // display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      // background: rgba(#fff, .35);
      // backdrop-filter: blur(4px);
      aspect-ratio: 1/1;
      // transition: background-color .3s ease;
      cursor: pointer;
      width: 110px;
      border-radius: 50%;
      // &:hover {
      //   background-color: rgba(#000, .1);
      // }
      &__container {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: center;
        gap: 10px;
      }
      .filename {
        z-index: 2;
        word-break: break-all;
        margin: 0;
      }
      h1 {
        text-align: center;
        z-index: 2;
        line-height: 1.5;
        font-size: 1.2vw;
        padding: 20px;
        text-align: left;
        margin: 0;
        color: #fff;
        visibility: hidden;
        word-wrap: break-word;
        width: 100px;
      }
      .code {
        width: 100%;
        height: 100%;
        display: block;
    
      }

      &.active {
        backdrop-filter: blur(0);
        background: transparent;
        &::after {
          opacity: 0;
        }

      }
      &::after {
        transition: opacity .4s fn.$ease-in-expo;
        opacity: 0;
        transition: opacity .4s fn.$ease-out-expo;
        content: '';
        position: absolute;
        inset: -3px;
        background: rgba(#fff, .98);
        border-radius: 50%;
      }
      &:hover {
        
        &::after {
          opacity: 1;
        }
      }
    }
  }
  @include fn.sp {
    // width: 646px;
    width: fn.px(327);
    gap: fn.px(24);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    &__item {
      width: fn.px(85);
      height: fn.px(85);
    }
    
  }
}

.c-close {
  position: fixed;
  top: 90px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(#fff, .7);
  backdrop-filter: blur(4px);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .4s fn.$ease-out-expo;
  &::before,
  &::after {
    transition: background-color .4s fn.$ease-out-expo;
    content: '';
    display: block;
    position: absolute;
    background: #000;
    // mix-blend-mode: difference;
    width: 20px;
    height: 1px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: rgba(#000, .7);
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}
.permalink {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  font-size: 14px;
  background: rgba(#fff, .5);
  backdrop-filter: blur(8px);
  color: #000;
  border: none;
  appearance: none;
  padding: 10px;
  width: 480px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  left: 50%;
  margin-left: -240px;
  font-family: 'DIN Alternate', sans-serif;


}