@use "sass:math";
@use 'functions.scss' as fn;
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  overscroll-behavior: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  @include fn.pc {
    text-decoration: underline;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;

}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include fn.pc {
    width: 646px;
    padding-top: 120px;
    padding-bottom: 120px;
  
  }
  // padding: 180px
  @include fn.sp {
    width: 100vw;
    padding-top: fn.vw(80);
    padding-bottom: fn.vw(40);
  
  }
}


// $frame_size: 10px;
// $frame_position: 30px;
// .frame {
//   z-index: 200;
//   &::before,
//   &::after {
//     content: '';
//     background: #fff;
//     position: fixed;
//   }
//   &--tl {
//     &::before {
//       width: 1px;
//       height: $frame_size;
//       top: $frame_position;
//       left: $frame_position;
//     }
//     &::after {
//       height: 1px;
//       width: $frame_size;
//       top: $frame_position;
//       left: $frame_position;
//     }
//   }
//   &--tr {
//     &::before {
//       width: 1px;
//       height: $frame_size;
//       top: $frame_position;
//       right: $frame_position;
//     }
//     &::after {
//       height: 1px;
//       width: $frame_size;
//       top: $frame_position;
//       right: $frame_position;
//     }
//   }
//   &--bl {
//     &::before {
//       width: 1px;
//       height: $frame_size;
//       bottom: $frame_position;
//       left: $frame_position;
//     }
//     &::after {
//       height: 1px;
//       width: $frame_size;
//       bottom: $frame_position;
//       left: $frame_position;
//     }
//   }
//   &--br {
//     &::before {
//       width: 1px;
//       height: $frame_size;
//       bottom: $frame_position;
//       right: $frame_position;
//     }
//     &::after {
//       height: 1px;
//       width: $frame_size;
//       bottom: $frame_position;
//       right: $frame_position;
//     }
//   }
// }


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#canvas_app {
  z-index: 1;
}
#canvas_ui {
  z-index: 5;
}
::selection {
  background-color: #333;
}


.c-share {
  // transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }
  @include fn.pc {
    position: fixed;
    margin: 0;
    right: 40px;
  
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 9999;
    // letter-spacing: 4px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    a {
      background: #000;
      font-size: 16px;
      letter-spacing: 0.02em;
      line-height: 1;
    }
  }
  @include fn.sp {

  margin: 0;
  bottom: fn.vw(40);
  margin-top: fn.vw(24);


  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 9999;
  // letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  left: fn.vw(40);
  right: fn.vw(40);

  gap: fn.vw(20);
  a {
    background: #000;
    font-size: fn.vw(16);
    letter-spacing: 0.02em;
    line-height: 1;
  }
  }

}
.c-shader-title {
  // transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }

  @include fn.pc {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
    
    // text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    background: #000;

    font-size: 16px;
    letter-spacing: 0.02em;
    top: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    // filter: drop-shadow(0px 0px 20px black);
    
  }
  @include fn.sp {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: #FFFFFF;
    margin: 0;
    
    // text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
    background: #000;

    font-size: fn.vw(16);
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: fn.vw(40);
    margin-right: fn.vw(40);
    text-align: center;
    align-self: center;
    margin-bottom: fn.vw(60);

    // filter: drop-shadow(0px 0px 20px black);
    
  }
}
.c-subtitle {

  // transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }

  text-align: left;
  letter-spacing: 0.02em;
  // mix-blend-mode: difference;
  background-color: #000;
  display: inline-block;
  // color: #000;


  &:first-of-type {
    margin-top: 0;
  }

  @include fn.pc {
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 80px;
  }

  @include fn.sp {
    margin-left: fn.vw(24);
    font-size: fn.vw(16);
    margin-bottom: fn.vw(24);
  }
}
.p-gallery {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0;
  z-index: 10;
  // transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }

  @include fn.pc {
    width: 646px;
    gap: 24px;

    grid-template-columns: repeat(5, 1fr);
    &__item {
      // display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      // background: rgba(#fff, .35);
      // backdrop-filter: blur(4px);
      aspect-ratio: 1/1;
      // transition: background-color .3s ease;
      cursor: pointer;
      width: 110px;
      border-radius: 50%;
      // &:hover {
      //   background-color: rgba(#000, .1);
      // }
      &__container {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: center;
        gap: 10px;
      }
      .filename {
        z-index: 2;
        word-break: break-all;
        margin: 0;
      }
      h1 {
        text-align: center;
        z-index: 2;
        line-height: 1.5;
        font-size: 1.2vw;
        padding: 20px;
        text-align: left;
        margin: 0;
        color: #fff;
        visibility: hidden;
        word-wrap: break-word;
        width: 100px;
      }
      .code {
        width: 100%;
        height: 100%;
        display: block;
    
      }

      &.active {
        backdrop-filter: blur(0);
        background: transparent;
        &::after {
          opacity: 0;
        }

      }
      &::after {
        transition: opacity .4s fn.$ease-in-expo;
        opacity: 0;
        transition: opacity .4s fn.$ease-out-expo;
        content: '';
        position: absolute;
        inset: -3px;
        background: rgba(#fff, .98);
        border-radius: 50%;
      }
      &:hover {
        
        &::after {
          opacity: 1;
        }
      }
    }
  }
  @include fn.sp {
    // width: 646px;
    width: fn.px(327);
    gap: fn.px(24);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    &__item {
      width: fn.px(85);
      height: fn.px(85);
    }
    
  }
}

.c-close {
  transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }
  @include fn.pc {
    position: fixed;
    // left: 50%;
    // margin-left: -40px;
    width: 60px;
    height: 60px;
    right: 60px;
    top: 60px;
    border-radius: 50%;
    background: rgba(#fff, .7);
    backdrop-filter: blur(4px);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s fn.$ease-out-expo, opacity .16s fn.$ease-out-cubic;
    &::before,
    &::after {
      transition: background-color .4s fn.$ease-out-expo;
      content: '';
      display: block;
      position: absolute;
      background: #000;
      // mix-blend-mode: difference;
      width: 14.14213562px;
      height: 1px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
      background-color: rgba(#000, .7);
      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
  @include fn.sp {
    position: fixed;
    top: fn.vw(24);
    // left: 50%;
    // margin-left: -24px;
    right: fn.vw(24);
    width: fn.vw(48);
    height: fn.vw(48);
    border-radius: 50%;
    background: rgba(#fff, .7);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s fn.$ease-out-expo;
    &::before,
    &::after {
      transition: background-color .4s fn.$ease-out-expo;
      content: '';
      display: block;
      position: absolute;
      background: #000;
      // mix-blend-mode: difference;
      width: fn.vw(14.14213562);
      height: 1px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
.c-fullscreen {
  // transition: opacity .16s fn.$ease-out-cubic;
  // body.--fullscreen & {
  //   opacity: 0;
  // }
  @include fn.pc {
    position: fixed;
    // left: 50%;
    // margin-left: -40px;
    width: 60px;
    height: 60px;
    right: 60px;
    bottom: 60px;
    border-radius: 50%;
    // background: rgba(#fff, .7);
    // backdrop-filter: blur(4px);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s fn.$ease-out-expo;

    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNzIyMjNlLTA2IDEuNTgyMzVlLTA2SDIuNFYxMS4ySDEuNzIyMjNlLTA2VjEuNTgyMzVlLTA2WiIgZmlsbD0iI0Q5RDlEOSIvPgo8cGF0aCBkPSJNMS41OTEwOWUtMDYgMi40TDEuNzIyMjNlLTA2IDEuNTgyMzVlLTA2TDExLjIgNC44MDgyNWUtMDdWMi40TDEuNTkxMDllLTA2IDIuNFoiIGZpbGw9IiNEOUQ5RDkiLz4KPHBhdGggZD0iTTMyIDMySDI5LjZMMjkuNiAyMC44SDMyVjMyWiIgZmlsbD0iI0Q5RDlEOSIvPgo8cGF0aCBkPSJNMzIgMjkuNlYzMkgyMC44VjI5LjZIMzJaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0xLjU5MTA5ZS0wNiAzMkwxLjQ4NjE5ZS0wNiAyOS42SDExLjJWMzJIMS41OTEwOWUtMDZaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0yLjQgMzJIMS41OTEwOWUtMDZMMCAyMC44SDIuNEwyLjQgMzJaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0zMiA0Ljg5NTY3ZS0wN1YyLjRMMjAuOCAyLjRWMEwzMiA0Ljg5NTY3ZS0wN1oiIGZpbGw9IiNEOUQ5RDkiLz4KPHBhdGggZD0iTTI5LjYgMy41ODQzM2UtMDdMMzIgNC44OTU2N2UtMDdWMTEuMkgyOS42VjMuNTg0MzNlLTA3WiIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K) no-repeat center/24px;
    // &::before,
    // &::after {
    //   transition: background-color .4s fn.$ease-out-expo;
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   background: #000;
    //   // mix-blend-mode: difference;
    //   width: 14.14213562px;
    //   height: 1px;
    // }
    // &::before {
    //   transform: rotate(45deg);
    // }
    // &::after {
    //   transform: rotate(-45deg);
    // }
    &:hover {
      background-color: rgba(#fff, .42);
      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
  @include fn.sp {
    // position: fixed;
    top: fn.vw(24);
    // left: 50%;
    // margin-left: -24px;
    right: fn.vw(24);
    width: fn.vw(48);
    height: fn.vw(48);
    border-radius: 50%;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNzIyMjNlLTA2IDEuNTgyMzVlLTA2SDIuNFYxMS4ySDEuNzIyMjNlLTA2VjEuNTgyMzVlLTA2WiIgZmlsbD0iI0Q5RDlEOSIvPgo8cGF0aCBkPSJNMS41OTEwOWUtMDYgMi40TDEuNzIyMjNlLTA2IDEuNTgyMzVlLTA2TDExLjIgNC44MDgyNWUtMDdWMi40TDEuNTkxMDllLTA2IDIuNFoiIGZpbGw9IiNEOUQ5RDkiLz4KPHBhdGggZD0iTTMyIDMySDI5LjZMMjkuNiAyMC44SDMyVjMyWiIgZmlsbD0iI0Q5RDlEOSIvPgo8cGF0aCBkPSJNMzIgMjkuNlYzMkgyMC44VjI5LjZIMzJaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0xLjU5MTA5ZS0wNiAzMkwxLjQ4NjE5ZS0wNiAyOS42SDExLjJWMzJIMS41OTEwOWUtMDZaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0yLjQgMzJIMS41OTEwOWUtMDZMMCAyMC44SDIuNEwyLjQgMzJaIiBmaWxsPSIjRDlEOUQ5Ii8+CjxwYXRoIGQ9Ik0zMiA0Ljg5NTY3ZS0wN1YyLjRMMjAuOCAyLjRWMEwzMiA0Ljg5NTY3ZS0wN1oiIGZpbGw9IiNEOUQ5RDkiLz4KPHBhdGggZD0iTTI5LjYgMy41ODQzM2UtMDdMMzIgNC44OTU2N2UtMDdWMTEuMkgyOS42VjMuNTg0MzNlLTA3WiIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K) no-repeat center/#{fn.vw(16)};
    // background-color: rgba(#000, 1);
  
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: fn.vw(60);
    justify-content: center;
    // transition: background-color .4s fn.$ease-out-expo;
    
  }
}
.permalink {
  // transition: opacity .16s fn.$ease-out-cubic;
  body.--fullscreen & {
    opacity: 0;
    pointer-events: none;
  }
  @include fn.pc {
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.02em;
    background: rgba(#000, 1);
    backdrop-filter: blur(8px);
    color: #fff;
    border: none;
    appearance: none;
    padding: 4px;
    width: calc(100vw - 60px);
    text-align: center;
    border: 0;
    left: 30px;
    font-family: 'Roboto Condensed', sans-serif;
  
    outline: 0;
  }

  @include fn.sp {
    display: none;
  }

}
.closeButton-enter {
  opacity: 0;
  
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.closeButton-enter-active,
.closeButton-leave-active {
  transition: opacity 0.5s ease, transform .3s fn.$ease-out-expo, background-color .4s ease;
}

.closeButton-enter-from,
.closeButton-leave-to {
  opacity: 0;
  transform: scale(0);
  background: #000;
}
.permalink-enter-active,
.permalink-leave-active {
  transition: opacity 0.3s fn.$ease-out-expo, transform .3s fn.$ease-out-expo, background-color .4s ease;
}

.permalink-enter-from,
.permalink-leave-to {
  opacity: 0;
  transform: translateY(20px);
  background: #000;
}
.backButton-enter-active {
  transition: opacity 0.3s fn.$ease-out-expo, transform .3s fn.$ease-out-expo, background-color .4s ease;
  transition-delay: .4s;
}
.backButton-leave-active {
  transition: opacity 0.3s fn.$ease-out-expo, transform .3s fn.$ease-out-expo, background-color .4s ease;
}

.backButton-enter-from,
.backButton-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.c-back {
  position: fixed;
  left: 40px;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-top: -20px;
  display: block;
  display: block;
  cursor: pointer;
  &::after {
    content: '';
    width: 80px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
  }
  &::before {
    content: '';
    width: 8px;
    height: 2px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
  }
}